body{
  background-color: #a2a2a2;
}

h2{
  color: #28a745;
  background-color: #343a40; 
  text-align: center;
}



.subheading{
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  border-color: #28a745;
}

.subheading p{
  margin-bottom: 0;
}


.card p{
  color: #28a745;
}

.card{
  background-color: #343a40;
  border-style: solid;
  border-width: 2px;
  border-color: #28a745;
}